<div class="row col-lg-10 col-md-10 col-sm-10">
    <p class="font middle-drop blurb">Welcome to Couples Come Stat With Me!  A site dedicated to statistics about the greatest reality television show of all time, Couples Come Dine With Me.  Use the drop-down menu to access the stats you want to see.  Please bear with us as we build out our database.  Currently, the information you see is based on the 4th season of Couples Come Dine With Me.  In the coming weeks, we will be adding information from the first three seasons as quickly as possible.  In the meantime, bon appetit!</p>
</div>
