<table>
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="table-width">
            <h3 class="font">{{ Title }}</h3>
            <table class="table table-hover col-xs-8">
                <tbody>
                    <tr ng-repeat="d in data1 track by $index">
                        <td class="font">{{ d[1] }}</td>
                        <td class="font">{{ d[2] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</table>
